<html>
  <body>
    <h2>Hyper news</h2>
  <!-- Below, you need to list your news articles and display the title, publication date, and a link to the article page. Group the articles by date into unordered lists.
The most recent news should be at the top.
Add the link below to the page where users can add their news: href="/news/create/"

Modify a view class or function which gets data from a JSON file. You can create one more;
it's totally up to you. It should additionally render a page for the list of articles.
The tricky thing is to reorganize the dictionary to sort articles by date (and alphabetically within each date);
Create a URL handler for the page with the news list;
Add an HTML template for the news list.
 -->
  </body>
</html>